@components {
  @layer components {
    .w-contain {
      @apply w-[90%] md:w-[80%] 2xl:max-w-[1400px] mx-auto;
    }
    /* .btn-sec {
      @apply bg-secondary text-white text-base text-center font-[400] rounded-[59px] font-sfpro;
    } */
    /* .btn {
      @apply text-base text-center font-[400] rounded-[59px] inline-block font-sfpro;
    } */
    .btn-primary {
      @apply bg-primary text-white text-base text-center font-[400] rounded-[59px] inline-flex;
    }
    .text-green-grad {
      background: radial-gradient(
        142.18% 126.37% at 4.28% 96.6%,
        #282c8e 0%,
        #1f7a4e 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .hero-bg {
      background-image: url('../..');
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
    }
    .hero-bg-fixed {
      background-image: url('../../assets/images/hero-bg-image.png');
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .bg-secondary {
      background-color: #your-secondary-color; /* Replace with your desired color */
    }
    .bg-primary {
      background-color: #your-primary-color; /* Replace with your desired color */
    }
  }
}
