@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  transition: all 0.5s ease;
  font-kerning: none;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans_24pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans_36pt-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans_18pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans_24pt-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans_36pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}